
.profile-heading {
  margin-bottom: 20px; 
}

.profile-heading label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px; 
}

.profile-heading input[type="checkbox"] {
  margin-right: 5px; 
}
  
  .user-info {
    display: block;
    align-items: center;
  }
  
  .user-details {
    margin-left: 10px; 
  }